# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\imooc_DA\BinarySearchTree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
